<h1>Public Chats</h1>

<%@chatrooms.each do |chatroom|%>  
    <li>
        <%= link_to chatroom.title, chatroom, class: "chat-link" %>
    </li>
<%end%>

<p></p>

<%= link_to "New Chatroom", new_chatroom_path, class: "chat-link" %>