<h1>Public Chats</h1>

<%= turbo_stream_from "chatrooms" %>

<ul class="button-list">
  <% @chatrooms.each do |chatroom| %>  
      <li>
          <%= link_to chatroom.title, chatroom %>
      </li>
  <% end %>
</ul>

<%= link_to "New Chatroom", new_chatroom_path %>
